 body {
     margin: 0;
     font-family: sans-serif;
 }
 table, th, td { 
     border: 3px solid black;
 }
 th {
    background-color: cadetblue;
 }
 td {
     background-color: slategray;
 }
 form {
     margin-left: 25px;
     margin-top: 25px;
 }

